{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for share in shares %}
            <tr>
                <td class="text-start">{{ share.stock }}</td>
                <td class="text-end">{{ share.number }}</td>
                <td class="text-end">{{ share.price | usd }}</td>
                <td class="text-end">{{ share.purchase_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
