{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    <form action="/sell" method="post">
        <div class="mb-3">
            <select id="symbol" class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol">
                {% for share in allShares %}
                    <option value="{{ share['stock'] }}">{{ share['stock'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" autofocus placeholder="Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>

{% endblock %}
